<form action="/admin/edit/{{project.id}}" method="post">
    <label for="projectName">Project Name:</label>
    <input type="text" name="projectName" id="projectName" value="{{project.projectName}}">
    <br>
    <label for="projectDescription">Project Description:</label>
    <input type="text" name="projectDescription" id="projectDescription" value="{{project.projectDescription}}">
    <br>
    <label for="linkToProjectImage">Link to Project Image:</label>
    <input type="text" name="linkToProjectImage" id="linkToProjectImage" value="{{project.linkToProjectImage}}">
    <br>
    <label>Features:</label>
    {{#each project.features}}
    <input type="text" name="feature[{{@index}}]" id="feature[{{@index}}]" value="{{this}}">
    {{/each}}
    <br>
    <label for="linkToProject">Link to Project:</label>
    <input type="text" name="linkToProject" id="linkToProject" value="{{project.linkToProject}}">
    <br>
    <button type="submit">Save Changes</button>
</form>