<article>
    <h3 align="center">{{projectName}}</h3>    
        <figure>
            <img src="{{linkToProjectImage}}" alt="" >
        </figure>
    
    <p align="center">{{projectDescription}}</p>
    <h3 class="primary">Features:</h3>
    <ul>
        {{#each features}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
    <a href='{{linkToProject}}'><input type="button" value="Click Here!"></a>
</article>